// @use '../modules/variables' as v;

$color-orange: #FE8702;
$color-darkOrange: #BD5901;
$color-lightGrey: #cccccc;
$color-darkGrey: #b3b3b3;

$laptop: 1024px;
$tablet: 768px;
$phone_L: 425px;
$phone_M: 375px;
$phone_S: 320px;