@use '../modules/variables' as v;

.contacts {
  margin: 0 0 80px 0;
  display: flex;
  flex: 1 0 auto;

  &__wrapper {
    padding: 0 10%;
    width: 100%;
  }
  
  &__title {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: 'Helios-Bold';
    color: #000;
    margin-top: 100px + 55px;
  
    &::after {
        content: "";
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #000;
        display: block;
    }
  }

  &__inner {
    display: flex;
  }

  &__elements {
    width: 40%;
  }

  &__element {
    margin: 0 0 25px 0;

    &::after {
      content: "";
      width: 100%;
      height: 16px;
      border-bottom: 1px solid #dddbdb;
      display: block;
    }

    &:nth-child(2) {
      .contacts__element-title {
        &::before {
          content: url('../../public/image/contacts/phone.svg');
        }
      }
    }

    &:nth-child(3) {
      .contacts__element-title {
        padding: 0 0 0 28px;
        &::before {
          content: url('../../public/image/contacts/email.svg');
        }
      }
    }

    &:nth-child(4) {
      .contacts__element-title {
        padding: 0 0 0 28px;
        &::before {
          content: url('../../public/image/contacts/time.svg');
        }
      }
    }
  }

  &__element-title {
    color: #000;
    font-size: 18px;
    font-family: 'Helios-Bold';
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
    position: relative;

    &::before {
      content: url('../../public/image/contacts/place.svg');
      padding: 0 5px 0 0;
      position: absolute;
      left: 0;
    }
  }

  &__element-desc {
    font-family: 'Helios-Medium';
    color: #000;
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  &__map {
    padding: 0 0 0 10%;
    width: 60%;
  }
}

//убираем с карты ненужную рекламу
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

// меняем цвет текста на карте
.ymaps-2-1-79-copyright__text, .ymaps-2-1-79-copyright__link {
  color: #000;
  font-size: 10px;
}

.ymaps-2-1-79-ruler__dist, .ymaps-2-1-79-listbox__button-text, .ymaps-2-1-79-listbox__list-item-text {
  color: #000;
}

@media (max-width: v.$laptop) {
  .contacts {
    &__title {
      margin-top: 140px;
    }

    &__wrapper {
      padding: 0 15px;
    }
  }
}

@media (max-width: v.$tablet) {
  .contacts {
    &__title {
      margin-top: 100px;
    }

    &__inner {
      flex-direction: column;
    }

    &__elements {
      width: 100%;
    } 

    &__map {
      padding: 0;
      width: 100%;
    }
  }
}
