@use '../modules/variables' as v;

/*         Обнуление         */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

 * {
    color: #fff;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 1.1px;
    font-family: 'Helios-Medium';
  }

  .home {
    overflow: hidden;
  }

  body::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: white;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #BD5901;    /* цвет плашки */
    border-radius: 0px;       /* закругления плашки */
    border: 3px solid orange;  /* padding вокруг плашки */
  }
  
  .body--lock {
    overflow: hidden;
  }

  @font-face {
    font-family: "Helios-Bold";
    src: url("../../public/fonts/HeliosCondC-Bold-webfont.ttf") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Helios-Medium";
    src: url("../../public/fonts/HeliosCondC-webfont.ttf") format("woff2");
    font-display: swap;
  }

  ::selection {
    background-color: v.$color-orange;
    color: #fff;
  }

  .unblur {
    animation: unblur 1s linear;
  }

  @keyframes unblur {
    from {
      filter: blur(20px);
    }
    to {
      filter: blur(0);
    }
  }
  
  .animate-view {
    transform: translateY(80px);
  }
  
  .is-ready {
    transform: translateY(0);//!important;
    transition: transform .6s;
  }



  .estimate-animate-view {
    transform: translateY(145px);
    opacity: 0;
  }

  @for $i from 1 to 5 {
    .is-ready-estimate:nth-child(#{$i}) {
      transform: translateY(0);
      opacity: 1;
      transition-duration: 0.6s, 0.6s;
      transition-timing-function: ease-out, ease-out;
      transition-delay: calc(#{$i}s / 10), calc(#{$i}s / 10);
      transition-property: transform, opacity;
    }
  }


  .gallery-animate-view {
    transform: translateY(145px);
    opacity: 0;
  }

  @for $i from 1 to 8 {
    .is-ready-gallery:nth-child(#{$i}) {
      transform: translateY(0);
      opacity: 1;
      transition-duration: 0.6s, 0.6s;
      transition-timing-function: ease-out, ease-out;
      transition-delay: calc(#{$i}s / 10), calc(#{$i}s / 10);
      transition-property: transform, opacity;
    }
  }